<div class="row mt-4">
    <div class="col-md-3 col-sm-12">
        <div class="row">
            <app-card>
                Card - 1
            </app-card>
            <app-card class="mt-3">
                Card - 2
            </app-card>
            <app-card class="mt-3">
                Card - 3
            </app-card>
            <app-card class="mt-3">
                Card - 4
            </app-card>
            <app-card class="mt-3">
                Card - 5
            </app-card>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="row">
            <p>dashboard works!</p>
        </div>
    </div>
    <div class="col-md-3 col-sm-12">
        <div class="row">
            <div>
                <span>IK ve ben</span>
                <app-card>
                    <div class="row">
                        <div class="col-6 text-center"><i class="bi bi-1-square-fill"></i></div>
                        <div class="col-6 text-center"><i class="bi bi-2-square-fill"></i></div>
                        <div class="col-6 text-center"><i class="bi bi-3-square-fill"></i></div>
                        <div class="col-6 text-center"><i class="bi bi-4-square-fill"></i></div>
                    </div>
                </app-card>
            </div>
            <div class="mt-3">
                <span>Kariyer danışmanı</span>
                <app-card>
                    Card - 2
                </app-card>
            </div>
            <div class="mt-3">
                <span>İzin hedefim</span>
                <app-card class="mt-3">
                    Card - 3
                </app-card>
            </div>
        </div>
    </div>
</div>