<div class="row mt-2">
    <div class="col-6">
        <img src="/assets/images/logo/panda.png" class="img-fluid" alt="Panda">
    </div>
    <ul class="nav col-6 justify-content-end d-none d-sm-flex">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-secondary">Link 1</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-secondary">Link 2</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-secondary">Link 3</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-secondary">Link 4</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-secondary">Link 5</a></li>
    </ul>
</div>