<div class="row">
  <nav class="navbar navbar-expand-lg panda-menu" aria-label="Menü">
    <div class="container-fluid d-flex align-items-center pe-0">
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample09">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="dashboard">Dashboard</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Menü 1</a>
            <ul class="dropdown-menu main-menu">
              <li><a class="dropdown-item" href="#">Alt Menü 1</a></li>
              <li><a class="dropdown-item" href="#">Alt Menü Alt Menü 2</a></li>
              <li><a class="dropdown-item" href="#">Alt Menü Alt Menü Alt Menü 3</a></li>
              <li><a class="dropdown-item" href="#">Alt Menü Alt Menü Alt Menü Alt Menü 4</a></li>
              <li><a class="dropdown-item"> Açılır Menü 2 <i class="bi bi-arrow-right"></i></a>
                <ul class="submenu dropdown-menu">
                  <li><a class="dropdown-item" href="#">Submenu item 1</a></li>
                  <li><a class="dropdown-item" href="#">Submenu item 2</a></li>
                  <li><a class="dropdown-item" >Submenu item 3 <i class="bi bi-arrow-right"></i> </a>
                    <ul class="submenu dropdown-menu">
                      <li><a class="dropdown-item" href="#">Multi level 1</a></li>
                      <li><a class="dropdown-item" href="#">Multi level 2</a></li>
                    </ul>
                  </li>
                  <li><a class="dropdown-item" href="#">Submenu item 4</a></li>
                  <li><a class="dropdown-item" href="#">Submenu item 5</a></li>
                </ul>
              </li>
              <li><a class="dropdown-item" href="#">Alt Menü 1</a></li>
              <li><a class="dropdown-item" href="#">Alt Menü Alt Menü 2</a></li>
              <li><a class="dropdown-item" href="#">Alt Menü Alt Menü Alt Menü 3</a></li>
              <li><a class="dropdown-item" href="#">Alt Menü Alt Menü Alt Menü Alt Menü 4</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Menü 2</a>
            <ul class="dropdown-menu main-menu">
              <li><a class="dropdown-item" href="#">Alt Menü 1</a></li>
              <li><a class="dropdown-item" href="#">Alt Menü Alt Menü 2</a></li>
              <li><a class="dropdown-item" href="#">Alt Menü Alt Menü Alt Menü 3</a></li>
              <li><a class="dropdown-item" href="#">Alt Menü Alt Menü Alt Menü Alt Menü 4</a></li>
              <li><a class="dropdown-item"> Açılır Menü 2 <i class="bi bi-arrow-right"></i></a>
                <ul class="submenu dropdown-menu">
                  <li><a class="dropdown-item" href="#">Submenu item 1</a></li>
                  <li><a class="dropdown-item" href="#">Submenu item 2</a></li>
                  <li><a class="dropdown-item" >Submenu item 3 <i class="bi bi-arrow-right"></i> </a>
                    <ul class="submenu dropdown-menu">
                      <li><a class="dropdown-item" href="#">Multi level 1</a></li>
                      <li><a class="dropdown-item" href="#">Multi level 2</a></li>
                    </ul>
                  </li>
                  <li><a class="dropdown-item" href="#">Submenu item 4</a></li>
                  <li><a class="dropdown-item" href="#">Submenu item 5</a></li>
                </ul>
              </li>
              <li><a class="dropdown-item" href="#">Alt Menü 1</a></li>
              <li><a class="dropdown-item" href="#">Alt Menü Alt Menü 2</a></li>
              <li><a class="dropdown-item" href="#">Alt Menü Alt Menü Alt Menü 3</a></li>
              <li><a class="dropdown-item" href="#">Alt Menü Alt Menü Alt Menü Alt Menü 4</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Menü 3</a>
            <ul class="dropdown-menu main-menu">
              <li><a class="dropdown-item" href="#">Alt Menü 1</a></li>
              <li><a class="dropdown-item" href="#">Alt Menü Alt Menü 2</a></li>
              <li><a class="dropdown-item" href="#">Alt Menü Alt Menü Alt Menü 3</a></li>
              <li><a class="dropdown-item" href="#">Alt Menü Alt Menü Alt Menü Alt Menü 4</a></li>
              <li><a class="dropdown-item"> Açılır Menü 2 <i class="bi bi-arrow-right"></i></a>
                <ul class="submenu dropdown-menu">
                  <li><a class="dropdown-item" href="#">Submenu item 1</a></li>
                  <li><a class="dropdown-item" href="#">Submenu item 2</a></li>
                  <li><a class="dropdown-item" >Submenu item 3 <i class="bi bi-arrow-right"></i> </a>
                    <ul class="submenu dropdown-menu">
                      <li><a class="dropdown-item" href="#">Multi level 1</a></li>
                      <li><a class="dropdown-item" href="#">Multi level 2</a></li>
                    </ul>
                  </li>
                  <li><a class="dropdown-item" href="#">Submenu item 4</a></li>
                  <li><a class="dropdown-item" href="#">Submenu item 5</a></li>
                </ul>
              </li>
              <li><a class="dropdown-item" href="#">Alt Menü 1</a></li>
              <li><a class="dropdown-item" href="#">Alt Menü Alt Menü 2</a></li>
              <li><a class="dropdown-item" href="#">Alt Menü Alt Menü Alt Menü 3</a></li>
              <li><a class="dropdown-item" href="#">Alt Menü Alt Menü Alt Menü Alt Menü 4</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="menu">Menü 4</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="menu">Menü 5</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Componentler</a>
            <ul class="dropdown-menu main-menu">
              <li><a class="dropdown-item"> Bootstrap <i class="bi bi-arrow-right"></i></a>
                <ul class="submenu dropdown-menu">
                  <li><a class="dropdown-item" href="#">Accordion</a></li>
                  <li><a class="dropdown-item" href="#">Alerts</a></li>
                  <li><a class="dropdown-item" href="#">Badges</a></li>
                  <li><a class="dropdown-item" href="#">Breadcrumb</a></li>
                  <li><a class="dropdown-item" href="#">Buttons</a></li>
                  <li><a class="dropdown-item" href="#">Button group</a></li>
                  <li><a class="dropdown-item" href="#">Cards</a></li>
                </ul>
              </li>
              <li><a class="dropdown-item"> NG Bootstrap <i class="bi bi-arrow-right"></i></a>
                <ul class="submenu dropdown-menu">
                  <li><a class="dropdown-item" href="#">Accordion</a></li>
                  <li><a class="dropdown-item" href="#">Alerts</a></li>
                  <li><a class="dropdown-item" href="#">Carousel</a></li>
                  <li><a class="dropdown-item" href="#">Collapse</a></li>
                  <li><a class="dropdown-item" href="#">Datepicker</a></li>
                  <li><a class="dropdown-item" href="#">Dropdown</a></li>
                  <li><a class="dropdown-item" href="#">Modal</a></li>
                </ul>
              </li>
              <li><a class="dropdown-item"> Panda Component <i class="bi bi-arrow-right"></i></a>
                <ul class="submenu dropdown-menu">
                  <li><a class="dropdown-item" href="#">Accordion</a></li>
                  <li><a class="dropdown-item" href="#">Alerts</a></li>
                  <li><a class="dropdown-item" href="#">Badges</a></li>
                  <li><a class="dropdown-item" href="#">Breadcrumb</a></li>
                  <li><a class="dropdown-item" href="#">Buttons</a></li>
                  <li><a class="dropdown-item" href="#">Button group</a></li>
                  <li><a class="dropdown-item" href="#">Cards</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</div>