// Tema değişkenleri
$font-family: 'Campton', sans-serif;

// Color
$fills-secondary-gray-secondary: #a6a1ad;
$fills-primary-panda-white: #fff;
$fills-illustration-white-02: #f5f5f8;
$fills-secondary-off-white: #f5f4f6;
$illustration-red-red-03: #820005;
$illustration-grey-04: #000;
$illustration-skin-skin-01: #ffb1a9;
$fills-primary-panda-red: #dc0005;
$illustration-skin-skin-02: #e59f98;
$illustration-grey-grey-01: #dcd9e1;
$fills-secondary-gray-tertiary: #e6e5e9;
$illustration-other-gold: #fac40c;
$illustration-other-coin: #acabae;
$dark-nobel: #b5b2b9;
$fills-supporting-bright-red: #af0005;
$fills-illustration-other-nail: #ffbfb9;
$illustration-grey-grey-03: #2d2a32;
$dark-scarpa-flow: #5a575f;
$illustration-grey-grey-02: #73707a;
$fills-secondary-panda-black: #202020;
$fills-validation-confirmation: #1dad65;
$fills-secondary-gray-primary: #5d5864;
$transparent-transparent: rgba(220, 0, 5, 0);
$fills-supporting-amelyst: #8079af;
$fills-secondary-kaftan: #342942;
$fills-validation-error: #ff6e64;
$fills-secondary-wings: #00303e;
$fills-validation-warning: #ffa564;
$fills-illustration-white-03: #ebe8ee;
$fills-secondary-free-card: #888;
$transparent-ui-overlay: rgba(0, 0, 0, 0.3);
$col: rgba(138, 138, 138, 0.23);
$padding: rgba(126, 52, 141, 0.3);
$fills-primary-panda-red: #dc0005;
$fills-secondary-off-white: #f5f4f6;
$fills-secondary-panda-black: #202020;
$fills-secondary-gray-tertiary: #e6e5e9;
